html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    height: 94vh;
    width: 98vw;
    position: relative;
    background-color: green;
}

.pilota-tennis {
    background-color: #E6E62C;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    animation: bounce 5s infinite alternate;
}

@keyframes bounce {
    0% {
        top: 0vh;
        left: 0px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25% {
        top: 90vh;
        left: 25vw;
        height: 40px;
        width: 60px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        top: 0vh;
        left: 50vw;
        height: 60px;
        width: 60px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    75% {
        top: 90vh;
        left: 75vw;
        height: 40px;
        width: 60px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        top: 0vh;
        left: 96vw;
        height: 60px;
        width: 40px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}